# Homework 1

## Mane Papoyan

In [ ]:
import pandas as pd

### Part 1: Data Cleaning and Exploration

##### 1. Load the dataset. Check the first 5 rows.

In [100]:
df = pd.read_csv("crime_data.csv")
print(df.head())

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  241711715  08/01/2024 12:00:00 AM  08/01/2024 12:00:00 AM      1319    17
1  231014031  09/21/2023 12:00:00 AM  09/15/2023 12:00:00 AM      1930    10
2  231010808  06/27/2023 12:00:00 AM  06/26/2023 12:00:00 AM      1230    10
3  211410441  04/25/2021 12:00:00 AM  04/25/2021 12:00:00 AM      2330    14
4  211114569  10/25/2021 12:00:00 AM  10/25/2021 12:00:00 AM      1455    11

     AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   Devonshire         1791         1     440
1  West Valley         1011         2     354
2  West Valley         1015         2     354
3      Pacific         1488         2     626
4    Northeast         1123         1     210

                          Crm Cd Desc  ... Status  Status Desc Crm Cd 1  \
0  THEFT PLAIN - PETTY ($950 & UNDER)  ...     IC  Invest Cont    440.0
1                   THEFT OF IDENTITY  ...     IC  Invest Cont    354.0
2                   THEFT OF IDENTITY  ...     IC  Invest Cont    354.0
3   INTIMATE PARTNER - SIMPLE ASSAULT  ...     IC  Invest Cont    626.0
4                             ROBBERY  ...     IC  Invest Cont    210.0

  Crm Cd 2  Crm Cd 3 Crm Cd 4                                  LOCATION  \
0      NaN       NaN      NaN   8300    KELVIN                       AV
1      NaN       NaN      NaN  18900    CANTLAY                      ST
2      NaN       NaN      NaN   7300    ENFIELD                      AV
3      NaN       NaN      NaN   5800 W  CENTURY                      BL
4      NaN       NaN      NaN   2900    LOS FELIZ                    BL

  Cross Street      LAT       LON
0          NaN  34.2200 -118.5863
1          NaN  34.2023 -118.5458
2          NaN  34.2033 -118.5241
3          NaN  33.9456 -118.3835
4          NaN   0.0000    0.0000

[5 rows x 28 columns]

###### 2. Identify columns with missing values and their respective counts. Drop columns where more than 50% of the data is missing (store this version as a new dataset).

In [101]:
missing_value_cols = df.isnull().sum()
print("Number of missing values in each colomn:\n", missing_value_cols)

Number of missing values in each colomn:
 DR_NO                 0
Date Rptd             0
DATE OCC              0
TIME OCC              0
AREA                  0
AREA NAME             0
Rpt Dist No           0
Part 1-2              0
Crm Cd                0
Crm Cd Desc           0
Mocodes            7498
Vict Age              0
Vict Sex           7163
Vict Descent       7165
Premis Cd             0
Premis Desc          29
Weapon Used Cd    33654
Weapon Desc       33654
Status                0
Status Desc           0
Crm Cd 1              2
Crm Cd 2          46448
Crm Cd 3          49885
Crm Cd 4          49995
LOCATION              0
Cross Street      42258
LAT                   0
LON                   0
dtype: int64

In [102]:
print("Columns with missing values:\n", missing_value_cols[missing_value_cols > 0])

Columns with missing values:
 Mocodes            7498
Vict Sex           7163
Vict Descent       7165
Premis Desc          29
Weapon Used Cd    33654
Weapon Desc       33654
Crm Cd 1              2
Crm Cd 2          46448
Crm Cd 3          49885
Crm Cd 4          49995
Cross Street      42258
dtype: int64

In [103]:
df_new = df.dropna(axis = 1, thresh = len(df) * 0.5)
df_new.to_csv("crime_data_clean.csv")

###### 3. Convert the DATE OCC column to a datetime format. Extract the year, month, and day into separate columns. Create a new column for the hour using the TIME OCC column.

In [104]:
df_new.loc[:, 'DATE OCC'] = pd.to_datetime(df_new['DATE OCC'], errors='coerce')

C:\Users\Administrator\AppData\Local\Temp\ipykernel_4092\2436936426.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new.loc[:, 'DATE OCC'] = pd.to_datetime(df_new['DATE OCC'], errors='coerce')
C:\Users\Administrator\AppData\Local\Temp\ipykernel_4092\2436936426.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_new.loc[:, 'DATE OCC'] = pd.to_datetime(df_new['DATE OCC'], errors='coerce')

In [105]:
df_new.loc[:, 'Year'] = df_new['DATE OCC'].dt.year
df_new.loc[:, 'Month'] = df_new['DATE OCC'].dt.month
df_new.loc[:, 'Day'] = df_new['DATE OCC'].dt.day
df_new.loc[:, 'TIME OCC'] = pd.to_numeric(df_new['TIME OCC'], errors='coerce')
df_new.loc[:, 'Hour'] = (df_new['TIME OCC'] // 100) % 24

C:\Users\Administrator\AppData\Local\Temp\ipykernel_4092\1263500483.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new.loc[:, 'Year'] = df_new['DATE OCC'].dt.year
C:\Users\Administrator\AppData\Local\Temp\ipykernel_4092\1263500483.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new.loc[:, 'Month'] = df_new['DATE OCC'].dt.month
C:\Users\Administrator\AppData\Local\Temp\ipykernel_4092\1263500483.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new.loc[:, 'Day'] = df_new['DATE OCC'].dt.day
C:\Users\Administrator\AppData\Local\Temp\ipykernel_4092\1263500483.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new.loc[:, 'TIME OCC'] = pd.to_numeric(df_new['TIME OCC'], errors='coerce')
C:\Users\Administrator\AppData\Local\Temp\ipykernel_4092\1263500483.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new.loc[:, 'Hour'] = (df_new['TIME OCC'] // 100) % 24

In [106]:
print(df_new.head())

       DR_NO               Date Rptd   DATE OCC  TIME OCC  AREA    AREA NAME  \
0  241711715  08/01/2024 12:00:00 AM 2024-08-01      1319    17   Devonshire
1  231014031  09/21/2023 12:00:00 AM 2023-09-15      1930    10  West Valley
2  231010808  06/27/2023 12:00:00 AM 2023-06-26      1230    10  West Valley
3  211410441  04/25/2021 12:00:00 AM 2021-04-25      2330    14      Pacific
4  211114569  10/25/2021 12:00:00 AM 2021-10-25      1455    11    Northeast

   Rpt Dist No  Part 1-2  Crm Cd                         Crm Cd Desc  ...  \
0         1791         1     440  THEFT PLAIN - PETTY ($950 & UNDER)  ...
1         1011         2     354                   THEFT OF IDENTITY  ...
2         1015         2     354                   THEFT OF IDENTITY  ...
3         1488         2     626   INTIMATE PARTNER - SIMPLE ASSAULT  ...
4         1123         1     210                             ROBBERY  ...

  Status  Status Desc Crm Cd 1                                  LOCATION  \
0     IC  Invest Cont    440.0   8300    KELVIN                       AV
1     IC  Invest Cont    354.0  18900    CANTLAY                      ST
2     IC  Invest Cont    354.0   7300    ENFIELD                      AV
3     IC  Invest Cont    626.0   5800 W  CENTURY                      BL
4     IC  Invest Cont    210.0   2900    LOS FELIZ                    BL

       LAT       LON  Year Month  Day Hour
0  34.2200 -118.5863  2024     8    1   13
1  34.2023 -118.5458  2023     9   15   19
2  34.2033 -118.5241  2023     6   26   12
3  33.9456 -118.3835  2021     4   25   23
4   0.0000    0.0000  2021    10   25   14

[5 rows x 26 columns]

###### 4. Filter the dataset for crimes that occurred in 2023. Further filter crimes with the description BURGLARY in the Crm Cd Desc column.

In [107]:
df_new_23 = df_new[df_new['Year'] == 2023]

In [108]:
df_new_23_burglary = df_new_23[df_new_23['Crm Cd Desc'].str.upper() == 'BURGLARY']

In [119]:
print(df_new_23_burglary)

           DR_NO               Date Rptd   DATE OCC  TIME OCC  AREA  \
47     231107877  04/15/2023 12:00:00 AM 2023-01-15       500    11
147    231912840  08/15/2023 12:00:00 AM 2023-08-14      2200    19
292    230813484  08/19/2023 12:00:00 AM 2023-08-19       510     8
317    230126836  12/20/2023 12:00:00 AM 2023-12-10      1200     1
326    231506351  02/26/2023 12:00:00 AM 2023-02-22      1230    15
...          ...                     ...        ...       ...   ...
49845  231606276  03/14/2023 12:00:00 AM 2023-03-14         1    16
49850  230811878  07/13/2023 12:00:00 AM 2023-06-23      1200     8
49874  231320692  11/16/2023 12:00:00 AM 2023-11-11      1600    13
49922  231515412  09/28/2023 12:00:00 AM 2023-09-26      1530    15
49990  230500901  11/12/2023 12:00:00 AM 2023-11-12      1315     5

         AREA NAME  Rpt Dist No  Part 1-2  Crm Cd Crm Cd Desc  ... Status  \
47       Northeast         1151         1     310    BURGLARY  ...     IC
147        Mission         1962         1     310    BURGLARY  ...     IC
292        West LA          857         1     310    BURGLARY  ...     IC
317        Central          154         1     310    BURGLARY  ...     IC
326    N Hollywood         1562         1     310    BURGLARY  ...     IC
...            ...          ...       ...     ...         ...  ...    ...
49845     Foothill         1677         1     310    BURGLARY  ...     IC
49850      West LA          807         1     310    BURGLARY  ...     IC
49874       Newton         1303         1     310    BURGLARY  ...     IC
49922  N Hollywood         1547         1     310    BURGLARY  ...     IC
49990       Harbor          515         1     310    BURGLARY  ...     IC

       Status Desc Crm Cd 1                                  LOCATION  \
47     Invest Cont    310.0   5000 W  SUNSET                       BL
147    Invest Cont    310.0  15000    CORE                         LN
292    Invest Cont    310.0   9400 W  PICO                         BL
317    Invest Cont    310.0    100 E  6TH                          ST
326    Invest Cont    310.0   4400    BABCOCK                      AV
...            ...      ...                                       ...
49845  Invest Cont    310.0   7800    SHADYCOVE                    AV
49850  Invest Cont    310.0   1800    CALGARY                      LN
49874  Invest Cont    310.0    500 E  9TH                          ST
49922  Invest Cont    310.0  11400    ALBERS                       ST
49990  Invest Cont    310.0   1500    BAY VIEW                     AV

           LAT       LON  Year Month  Day Hour
47     34.0981 -118.2983  2023     1   15    5
147    34.2424 -118.4596  2023     8   14   22
292    34.0553 -118.3943  2023     8   19    5
317    34.0460 -118.2493  2023    12   10   12
326    34.1504 -118.4063  2023     2   22   12
...        ...       ...   ...   ...  ...  ...
49845  34.2130 -118.3442  2023     3   14    0
49850  34.1044 -118.4448  2023     6   23   12
49874  34.0388 -118.2519  2023    11   11   16
49922  34.1705 -118.3790  2023     9   26   15
49990  33.7929 -118.2710  2023    11   12   13

[725 rows x 26 columns]

###### 5. Group the data by AREA NAME and calculate the total number of crimes and the average victim age. Sort the results by total crimes in descending order.

In [109]:
df_new_groupby_area = df_new_23_burglary.groupby('AREA NAME').agg(total_crimes=('Crm Cd Desc', 'count'),
                                                           avg_victim_age=('Vict Age', 'mean')).reset_index()

In [110]:
print(df_new_groupby_area.sort_values(by='total_crimes', ascending=False))

      AREA NAME  total_crimes  avg_victim_age
2    Devonshire            58       43.896552
18      West LA            58       40.879310
11      Olympic            53       30.283019
19  West Valley            52       35.173077
8   N Hollywood            50       29.660000
20     Wilshire            48       39.041667
12      Pacific            48       24.520833
17     Van Nuys            44       41.704545
15    Southwest            32       35.656250
0   77th Street            31       30.129032
16      Topanga            30       42.300000
1       Central            29       22.241379
13      Rampart            26       24.653846
6     Hollywood            25       28.240000
10    Northeast            25       32.120000
9        Newton            24       20.333333
5    Hollenbeck            22       19.318182
4        Harbor            22       27.818182
3      Foothill            18       35.888889
14    Southeast            16       40.750000
7       Mission            14       42.571429

### Part 2: Further Exploration

###### 1. Find the top 3 most frequent Crm Cd Desc values.

In [111]:
print(df_new['Crm Cd Desc'].value_counts().head(3))

VEHICLE - STOLEN            5733
BATTERY - SIMPLE ASSAULT    3715
THEFT OF IDENTITY           3169
Name: Crm Cd Desc, dtype: int64

###### 2. Group the data by Hour and count the number of crimes.

In [112]:
print(df_new.groupby('Hour').size().reset_index(name='crime_count'))

    Hour  crime_count
0      0         2025
1      1         1490
2      2         1241
3      3         1063
4      4          975
5      5          848
6      6         1106
7      7         1302
8      8         1776
9      9         1841
10    10         2110
11    11         2114
12    12         3446
13    13         2246
14    14         2504
15    15         2667
16    16         2597
17    17         2914
18    18         3015
19    19         2762
20    20         2830
21    21         2553
22    22         2469
23    23         2106

In [113]:
print(df_new.groupby('Vict Sex').agg(total_crimes=('Crm Cd Desc', 'count'),
                                                   avg_victim_age=('Vict Age', 'mean')).reset_index())

  Vict Sex  total_crimes  avg_victim_age
0        F         17922       38.164156
1        H             3       36.333333
2        M         20076       37.165621
3        X          4836        2.672043

### Part 4: Advanced Analysis

###### 1. Create a new column, Severity Score, based on the following rules: 

• Assign 5 points if a weapon was used (Weapon Used Cd is not null). 

• Assign 3 points for crimes under BURGLARY. 

• Assign 1 point for all other crimes. 

• Group by AREA NAME and find the total severity score for each area.

In [114]:
def severity(row):
    severity_score = 0
    if pd.notnull(row['Weapon Used Cd']):
        severity_score += 5
    if row['Crm Cd Desc'] == 'BURGLARY':
        severity_score += 3
    if severity_score == 0:
        severity_score += 1
    return severity_score

In [115]:
df_new['Severity Score'] = df.apply(severity, axis=1)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_4092\2388656388.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Severity Score'] = df.apply(severity, axis=1)

In [116]:
print( df_new.groupby('AREA NAME').agg(total_severity_score=('Severity Score', 'sum')).reset_index())

      AREA NAME  total_severity_score
0   77th Street                  9298
1       Central                  8625
2    Devonshire                  4510
3      Foothill                  3856
4        Harbor                  4949
5    Hollenbeck                  4454
6     Hollywood                  6707
7       Mission                  4499
8   N Hollywood                  5476
9        Newton                  6815
10    Northeast                  4476
11      Olympic                  6275
12      Pacific                  6652
13      Rampart                  6267
14    Southeast                  7162
15    Southwest                  7029
16      Topanga                  4541
17     Van Nuys                  4751
18      West LA                  4763
19  West Valley                  4994
20     Wilshire                  5212

### Bonus Part:

###### Use the LAT and LON columns to identify crimes that occurred within a specific latitude-longitude bounding box (e.g., downtown area)

In [120]:
df_downtown_crimes = df_new[
    (df_new['LAT'] >= 34.03) & 
    (df_new['LAT'] <= 34.05) & 
    (df_new['LON'] >= -118.300) & 
    (df_new['LON'] <= -118.200)
]

In [121]:
print(df_downtown_crimes)

           DR_NO               Date Rptd   DATE OCC  TIME OCC  AREA  \
6      200117643  09/08/2020 12:00:00 AM 2020-09-08      1430     1
16     240111628  05/20/2024 12:00:00 AM 2024-05-19      1850     1
20     200217237  11/09/2020 12:00:00 AM 2020-11-09      2140     2
25     220120317  09/12/2022 12:00:00 AM 2022-08-23      1200     1
26     210409379  06/06/2021 12:00:00 AM 2021-06-06       610     4
...          ...                     ...        ...       ...   ...
49951  200117094  08/28/2020 12:00:00 AM 2020-08-17      2035     1
49957  230119966  09/15/2023 12:00:00 AM 2023-09-15      2300     1
49976  220111411  05/01/2022 12:00:00 AM 2022-05-01       225     1
49982  220108638  03/20/2022 12:00:00 AM 2021-06-27         1     1
49988  231310722  05/15/2023 12:00:00 AM 2023-05-09      2030    13

        AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
6         Central          185         2     624
16        Central          161         1     442
20        Rampart          289         2     740
25        Central          156         1     310
26     Hollenbeck          473         2     626
...           ...          ...       ...     ...
49951     Central          182         1     331
49957     Central          185         2     624
49976     Central          182         1     210
49982     Central          185         1     310
49988      Newton         1307         1     330

                                             Crm Cd Desc  ...   Status Desc  \
6                               BATTERY - SIMPLE ASSAULT  ...   Invest Cont
16              SHOPLIFTING - PETTY THEFT ($950 & UNDER)  ...   Invest Cont
20     VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...  ...   Invest Cont
25                                              BURGLARY  ...   Invest Cont
26                     INTIMATE PARTNER - SIMPLE ASSAULT  ...   Invest Cont
...                                                  ...  ...           ...
49951  THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...  ...   Invest Cont
49957                           BATTERY - SIMPLE ASSAULT  ...   Adult Other
49976                                            ROBBERY  ...  Adult Arrest
49982                                           BURGLARY  ...   Invest Cont
49988                              BURGLARY FROM VEHICLE  ...   Invest Cont

       Crm Cd 1                                 LOCATION      LAT       LON  \
6         624.0  1000 S  SANTEE                       ST  34.0378 -118.2561
16        442.0   700 S  FIGUEROA                     ST  34.0483 -118.2631
20        740.0                                     11TH  34.0456 -118.2726
25        310.0   500    WALL                         ST  34.0449 -118.2458
26        626.0                               HOLLENBECK  34.0377 -118.2182
...         ...                                      ...      ...       ...
49951     331.0  1000 S  GRAND                        AV  34.0421 -118.2614
49957     624.0  1000 S  HILL                         ST  34.0417 -118.2584
49976     210.0  1200 S  GRAND                        AV  34.0401 -118.2633
49982     310.0                         1000 S  BROADWAY  34.0409 -118.2574
49988     330.0  1600 E  OLYMPIC                      BL  34.0349 -118.2436

       Year Month Day  Hour Severity Score
6      2020     9   8    14              5
16     2024     5  19    18              1
20     2020    11   9    21              5
25     2022     8  23    12              3
26     2021     6   6     6              5
...     ...   ...  ..   ...            ...
49951  2020     8  17    20              1
49957  2023     9  15    23              5
49976  2022     5   1     2              5
49982  2021     6  27     0              3
49988  2023     5   9    20              1

[3968 rows x 27 columns]